<div class="container">
  <ul id="chatarea">
  </ul>

  <form id="chat">
    <textarea id="msg"></textarea>
    <button type="submit">Send</button>
  </form>

</div>

<script>
  $(function(){
    ws = new WebSocket("ws://localhost:8080");
    
    ws.onmessage = function(evt) {
      console.log(evt.data);
      $('#chatarea').append("<li>"+evt.data+"</li>")
    };
    
    // ws.onclose = function() { 
    //   ws.send("Leaves the chat");
    // };
    
    // ws.onopen = function() {
    //   ws.send("Join the chat");
    // };
    
    
    $("form#chat").submit(function(e) {
      var message = $("#msg").val();
      var userId = "<%= current_user.id %>";
      if(message.length > 0){
        ws.send(message + "<" + userId + ">");
        $("#msg").val("");
      }
      return false;
    });
    
  });
</script>
