<div class="container">
  <form id="signup" method="post" action="/chat">
    <input name="username" type="text" placeholder="Type your name">
    <button type="submit">Begin chatting</button>
  </form>
</div>
